<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/output.css' />
  </head>
  <body>
    <div>
      <% if (user && user.admin) {%>
        <h1>WELCOME BACK <%= user.username %></h1>
        <div>
          <div class="flex flex-row">
            <div><a href="/">Home</a></div>
            <div>
              <a href="/sign-up">Sign Up</a>
              <a href="/log-in">Log In</a>
            </div>
          </div>
          <div>
            <div></div>
            <div>
              <div>
                <div>
                  <div>
                    <div>
                      <% messages.forEach(function(message){ %>
                        <div>
                          <h1><%= message.title %></h1>
                          <p></p>
                          <p></p>
                        </div>
                      <% }); %>
                    </div>
                  </div>
                </div>
                <div>
                  <form action="/message" method="POST">
                    <div class="flex flex-col">
                    <label for="title">Title</label>
                    <input name="title" id="title" type="text"/>
                    <label for="text">Text</label>
                    <textarea name="text" id="text"></textarea>
                    <button>Submit</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          </div>
        <a href="/log-out">LOG OUT</a>
      <% } else if (user && user.membership_status) {%>
        <p>Member</p>
        <div></div>
      <% } else if (user) {%>
        <p>Only a user</p>
        <div></div>
      <% } else { %>
        <div>
        <div class="flex flex-row">
          <div><a href="/">Home</a></div>
          <div>
            <a href="/sign-up">Sign Up</a>
            <a href="/log-in">Log In</a>
          </div>
        </div>
        <div class="flex flex-row">
          <div></div>
          <div>
            <div>
              <div>
                <div>
                  <div>
                    <% messages.forEach(function(message){ %>
                      <div>
                        <h1><%= message.title %></h1>
                        <p><%= message.text %></p>
                        <p>User: ***** Date: *****</p>
                      </div>
                    <% }); %>
                  </div>
                </div>
              </div>
              <div>
                <form action="/message" method="POST">
                  <div class="flex flex-col">
                  <label for="title">Title</label>
                  <input name="title" id="title" type="text"/>
                  <label for="text">Text</label>
                  <textarea name="text" id="text"></textarea>
                  <button>Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        </div>
      <%}%>
    </div>
  </body>
</html>
